<footer class="footer">

  <div class="footer-container">


    <!-- BRAND -->

    <div class="footer-brand">

      <h2>
        Super Bangladesh
      </h2>

      <p>
        {{ t('footerDescription') }}
      </p>


      <div class="social-links">

        <a href="#">
          f
        </a>

        <a href="#">
          ▶
        </a>

        <a href="#">
          ◎
        </a>

      </div>

    </div>


    <!-- CUSTOMER SERVICE -->

    <div class="footer-column">

      <h3>
        {{ t('customerService') }}
      </h3>

      <a href="#">
        {{ t('helpCenter') }}
      </a>

      <a href="#">
        {{ t('contactUs') }}
      </a>

      <a href="#">
        {{ t('reportProblem') }}
      </a>

      <a href="#">
        {{ t('returnPolicy') }}
      </a>

    </div>


    <!-- ABOUT -->

    <div class="footer-column">

      <h3>
        {{ t('aboutSuperBangladesh') }}
      </h3>

      <a href="#">
        {{ t('aboutUs') }}
      </a>

      <a href="#">
        {{ t('careers') }}
      </a>

      <a href="#">
        {{ t('termsConditions') }}
      </a>

      <a href="#">
        {{ t('privacyPolicy') }}
      </a>

    </div>


    <!-- CONTACT -->

    <div class="footer-column">

      <h3>
        {{ t('contactUs') }}
      </h3>

      <p>
        📍 {{ t('dhakaBangladesh') }}
      </p>

      <p>
        📞 09600-000000
      </p>

      <p>
        ✉ support@superbangladesh.com
      </p>

      <p>
        🕒 {{ t('open247') }}
      </p>

    </div>

  </div>


  <!-- BOTTOM -->

  <div class="footer-bottom">

    <p>
      {{ t('allRightsReserved') }}
    </p>


    <div class="payment-methods">

      <span>
        VISA
      </span>

      <span>
        Mastercard
      </span>

      <span>
        bKash
      </span>

      <span>
        Nagad
      </span>

    </div>

  </div>

</footer>