

<!-- MOBILE HEADER -->

<div class="mobile-header">

  <button class="menu-btn">
  <i class="fa-solid fa-bars"></i>
</button>


  <div class="mobile-logo">
    Super Bangladesh
  </div>

  <a
    *ngIf="!isLoggedIn()"
    routerLink="/login"
    class="mobile-login">
    Login
  </a>

  <a
    *ngIf="isLoggedIn()"
    (click)="logout()"
    class="mobile-login">
    Logout
  </a>

</div>

<div class="navbar">


  <!-- LEFT -->

  <div class="left">

    <!-- LOGO -->

    <div
      class="logo"
      (click)="goHome()"
    >
      Super Bangladesh
    </div>

    <!-- SEARCH -->

    <div class="search">

      <input
        type="text"
        [(ngModel)]="searchText"
        (input)="search()"
        placeholder="Search products..."
      />

      <!-- CLEAR -->

      <button
        *ngIf="searchText"
        class="clear-btn"
        (click)="clearSearch()"
      >
        ✕
      </button>

      <!-- SEARCH -->

      <button
        class="search-btn"
        (click)="search()"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

    </div>

  </div>

  <!-- RIGHT -->

  <div class="right">

    <a (click)="goHome()">
      Home
    </a>

    <a routerLink="/cart">

      Cart

      <i class="fa-solid fa-cart-shopping"></i>

      <span class="badge">
        {{cart.count()}}
      </span>

    </a>

    <!-- USER ONLY -->

    <a
      *ngIf="isLoggedIn() && !isAdmin()"
      routerLink="/orders"
    >
      My Orders
    </a>

    <!-- LOGIN -->

    <a
      *ngIf="!isLoggedIn()"
      routerLink="/login"
    >
      Login
    </a>

    <!-- LOGOUT -->

    <a
      *ngIf="isLoggedIn()"
      (click)="logout()"
    >
      Logout
    </a>

    <!-- ADMIN -->

    <a
      *ngIf="isAdmin()"
      routerLink="/admin/dashboard"
    >
      Admin
    </a>

  </div>

</div>

<!-- FLOATING CART -->

<div
  class="floating-cart"
  routerLink="/cart"
>

  <div class="cart-top">

    <div class="cart-count">
      {{cart.count()}} Items
    </div>

    <div class="cart-icon">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>

  </div>

  <div class="price">
    ৳ {{cart.getTotal()}}
  </div>

</div>

<!-- FLOATING CHAT -->

<div class="chat-wrapper">

  <!-- CHAT OPTIONS -->

  <div
    class="chat-options"
    *ngIf="showChat"
  >

    <!-- CALL -->

    <a
      href="tel:+8801756442133"
      class="chat-item call"
      title="Call"
    >
      <i class="fa-solid fa-phone"></i>
    </a>

    <!-- MESSENGER -->

    <a
      href="https://www.facebook.com/share/1C1rQ6txJr/"
      target="_blank"
      class="chat-item messenger"
      title="Messenger"
    >
      <i class="fa-brands fa-facebook-messenger"></i>
    </a>

    <!-- WHATSAPP -->

    <a
      href="https://wa.me/8801756442133"
      target="_blank"
      class="chat-item whatsapp"
      title="WhatsApp"
    >
      <i class="fa-brands fa-whatsapp"></i>
    </a>

  </div>

  <!-- MAIN CHAT BUTTON -->

  <button
    class="main-chat-btn"
    (click)="toggleChat()"
    title="Chat"
  >
    <i class="fa-solid fa-comments"></i>
  </button>

</div>

