<div class="product-details" *ngIf="product">

  <div class="left">

<div class="main-image">

  <img
    [src]="getImage(selectedImage || product.imageUrl)"
    [alt]="product.name">

</div>

  <div class="thumbs">

  <img
    *ngIf="product.imageUrl2"
    [src]="getImage(product.imageUrl2)"
    (click)="selectedImage = product.imageUrl2">

  <img
    *ngIf="product.imageUrl3"
    [src]="getImage(product.imageUrl3)"
    (click)="selectedImage = product.imageUrl3">

  <img
    *ngIf="product.imageUrl4"
    [src]="getImage(product.imageUrl4)"
    (click)="selectedImage = product.imageUrl4">

</div>

  </div>

  <div class="right">

    <span class="category">
      {{product.categoryName}}
    </span>

    <h1>{{product.name}}</h1>

    <div class="price-box">

      <span class="price">
        ৳ {{product.price}}
      </span>

      <span
        class="old-price"
        *ngIf="product.discount">

        ৳ {{product.price + product.discount}}

      </span>

    </div>

<div class="product-size"
     *ngIf="product.quantity && product.unit">

  {{ product.quantity }} {{ product.unit }}

</div>

  <div class="product-meta">

  <div
    class="stock"
    [class.out-stock]="product.stock <= 0">

    {{ product.stock > 0 ? '✓ In Stock' : '✗ Out of Stock' }}

  </div>

  <div
    class="origin-tag"
    *ngIf="product.origin">

    Product of {{ getOriginName(product.origin) }}

  </div>

</div>

    <div class="description">

  <p>
    {{ product.description }}
  </p>

</div>

    <div class="cart-section">

  <div class="qty-box">

    <button
      class="qty-btn"
      (click)="decreaseQty()">

      −

    </button>

    <div class="qty-value">

      <span>{{ quantity }}</span>

      <small>in bag</small>

    </div>

    <button
      class="qty-btn"
      (click)="increaseQty()">

      +

    </button>

  </div>

  <button
  class="buy-btn"
  (click)="buyNow()">
  Buy Now
</button>

</div>

  </div>

</div>