<div class="product-details" *ngIf="product">

  <div class="left">

<div class="main-image">

  <img
    [src]="getImage(selectedImage || product.imageUrl)"
    [alt]="languageService.productName(product)">

</div>

  <div class="thumbs">

  <img
    *ngIf="product.imageUrl2"
    [src]="getImage(product.imageUrl2)"
    (click)="selectedImage = product.imageUrl2">

  <img
    *ngIf="product.imageUrl3"
    [src]="getImage(product.imageUrl3)"
    (click)="selectedImage = product.imageUrl3">

  <img
    *ngIf="product.imageUrl4"
    [src]="getImage(product.imageUrl4)"
    (click)="selectedImage = product.imageUrl4">

</div>

  </div>

  <div class="right">

    <span class="category">
      {{ categoryName(product.categoryName) }}
    </span>

    <h1>{{ languageService.productName(product) }}</h1>

    <div class="price-box">

      <span class="price">
        {{ getFinalPrice(product) | bnNumber:'৳ ' }}
      </span>

      <span
        class="old-price"
        *ngIf="product.discount">

        {{ product.price | bnNumber:'৳ ' }}

      </span>

    </div>

<div class="product-size"
     *ngIf="product.quantity && product.unit">

  {{ product.quantity | bnNumber }} {{ languageService.translateUnit(product.unit) }}

</div>

  <div class="product-meta">

  <div
    class="stock"
    [class.out-stock]="product.stock <= 0">

    {{ product.stock > 0 ? t('inStock') : t('outOfStockMark') }}

  </div>

  <div
    class="origin-tag"
    *ngIf="product.origin">

    {{ t('productOf') }} {{ languageService.translateOrigin(product.origin) }}

  </div>

  <div
    class="origin-tag"
    *ngIf="product.brand">

    {{ t('brandLabel') }}: {{ product.brand }}

  </div>

</div>

    <div class="description">

  <p>
    {{ languageService.productDescription(product) }}
  </p>

</div>

    <div class="cart-section">

  <div class="qty-box">

    <button
      class="qty-btn"
      (click)="decreaseQty()">

      −

    </button>

    <div class="qty-value">

      <span>{{ quantity | bnNumber }}</span>

      <small>{{ t('inBag') }}</small>

    </div>

    <button
      class="qty-btn"
      (click)="increaseQty()">

      +

    </button>

  </div>

  <button
  class="buy-btn"
  (click)="buyNow()">
  {{ t('buyNow') }}
</button>

</div>

  </div>

</div>