<div class="features">

  <div class="feature-card">
    <div class="icon">🛍️</div>

    <div>
      <h3>15000+ Products</h3>
      <p>Shop from thousands of items</p>
    </div>
  </div>

  <div class="feature-card">
    <div class="icon">💳</div>

    <div>
      <h3>Pay After Delivery</h3>
      <p>Cash on Delivery Available</p>
    </div>
  </div>

  <div class="feature-card">
    <div class="icon">🚚</div>

    <div>
      <h3>Delivery in 1 Hour</h3>
      <p>Fast grocery delivery</p>
    </div>
  </div>

  <div class="feature-card">
    <div class="icon">💰</div>

    <div>
      <h3>Save Money</h3>
      <p>Best deals every day</p>
    </div>
  </div>

</div>