<h2>📂 Categories</h2>

<div class="form">

  <input
    [(ngModel)]="form.name"
    placeholder="Category Name">

  <input
    type="file"
    (change)="onFileSelected($event)">

  <!-- TYPE -->

  <select [(ngModel)]="form.type">

    <option value="MAIN">
      Main Category
    </option>

    <option value="SUB">
      Sub Category
    </option>

    <option value="CHILD">
      Child Category
    </option>

  </select>

  <!-- SUB -->

  <select
    *ngIf="form.type === 'SUB'"
    [(ngModel)]="form.parentId">

    <option [ngValue]="null">
      Select Main Category
    </option>

    <option
      *ngFor="let c of mainCategories"
      [ngValue]="c.id">

      {{ c.name }}

    </option>

  </select>

  <!-- CHILD -->

  <select
    *ngIf="form.type === 'CHILD'"
    [(ngModel)]="form.parentId">

    <option [ngValue]="null">
      Select Sub Category
    </option>

    <option
      *ngFor="let c of subCategories"
      [ngValue]="c.id">

      {{ c.parent?.name }} → {{ c.name }}

    </option>

  </select>

  <button (click)="save()">

    {{ editingId
      ? 'Update Category'
      : 'Add Category' }}

  </button>

</div>

<hr>

<!-- MAIN -->

<div *ngFor="let main of categories">

  <div
    style="
      display:flex;
      align-items:center;
      gap:10px;
      margin:15px 0;">

    <img
      *ngIf="main.imageUrl"
      [src]="imageBase + main.imageUrl"
      width="60"
      height="60"
      style="
      object-fit:cover;
      border-radius:10px;">

    <b>{{ main.name }}</b>

    <button (click)="edit(main)">
      Edit
    </button>

    <button (click)="delete(main.id)">
      Delete
    </button>

  </div>

  <!-- SUB -->

  <div
    *ngFor="let sub of main.children"
    style="margin-left:40px">

    <div
      style="
      display:flex;
      align-items:center;
      gap:10px;
      margin:10px 0;">

      <img
        *ngIf="sub.imageUrl"
        [src]="imageBase + sub.imageUrl"
        width="50"
        height="50">

      ↳ {{ sub.name }}

      <button (click)="edit(sub)">
        Edit
      </button>

      <button (click)="delete(sub.id)">
        Delete
      </button>

    </div>

    <!-- CHILD -->

    <div
      *ngFor="let child of sub.children"
      style="margin-left:40px">

      <div
        style="
        display:flex;
        align-items:center;
        gap:10px;
        margin:8px 0;">

        <img
          *ngIf="child.imageUrl"
          [src]="imageBase + child.imageUrl"
          width="40"
          height="40">

        ↳↳ {{ child.name }}

        <button (click)="edit(child)">
          Edit
        </button>

        <button (click)="delete(child.id)">
          Delete
        </button>

      </div>

    </div>

  </div>

</div>