<div class="page">

  

  <app-banner></app-banner>

  <!-- POPULAR CATEGORIES -->

<div
  class="popular-section"
  *ngIf="popularCategories.length > 0">

  <h2>🔥 Popular Categories</h2>

 <div class="popular-grid-container">

  <div class="popular-grid">

    <div
      class="popular-card"
      *ngFor="let c of popularCategories"
      (click)="onCategory(c)">

      <img
        [src]="getCategoryImage(c.imageUrl || c.image_url)"
        (error)="onImgError($event)"
      />

      <p>{{ c.name }}</p>

    </div>

  </div>

</div>

</div>



<div class="layout">

 <app-sidebar
  (categoryClick)="onCategory($event)">
</app-sidebar>

  <div class="products-section">
      <!-- BREADCRUMB -->

      <div
  class="breadcrumb"
  *ngIf="breadcrumb.length > 0">

        <span
          *ngFor="
            let b of breadcrumb;
            let last = last
          ">

          {{ b }}

          <span *ngIf="!last">
            >
          </span>

        </span>

      </div>

      <!-- CATEGORY GRID -->

      <div
        *ngIf="viewMode === 'categories'"
        class="product-grid">

        <div
          *ngFor="
            let c of selectedCategory?.children
          "
          class="product-card category-card"

          (click)="onCategory({

            id: c.id,

            name: c.name,

            imageUrl:
              c.imageUrl || c.image_url,

            children:
              c.children || [],

            parentName:
              selectedCategory?.name,

            mainName:
              breadcrumb[0],

            level:
              c.children &&
              c.children.length > 0
                ? 'sub'
                : 'child'
          })">

          <div class="image-box">

          <img
  loading="lazy"
  decoding="async"
  [src]="
    getCategoryImage(
      c.imageUrl || c.image_url
    )
  "
  (error)="
    onImgError($event)
  "
/>

          </div>

          <h3>
            {{ c.name }}
          </h3>

        </div>

      </div>

      <!-- PRODUCTS -->

      <div
        *ngIf="viewMode === 'products'"
        class="product-grid">

       <div
  *ngFor="
    let p of filtered;
    trackBy: trackByProduct
  "
  class="product-card"
  [class.out-product]="p.stock <= 0">

          <div class="image-box">

            <div
              class="out-badge"
              *ngIf="p.stock <= 0">

              Out Of Stock

            </div>

          <img
  loading="lazy"
  decoding="async"
  [src]="
    getImage(
      p.imageUrl || p.image_url
    )
  "
  (error)="
    onImgError($event)
  "
/>

            <button
              class="add-btn"

              (click)="
                addToCart(p)
              ">

              +

            </button>

          </div>

          <div class="price-line">

            <span class="price">

              ৳{{ p.price }}

            </span>

            <span class="old-price">

              ৳{{ p.price + 20 }}

            </span>

          </div>

          <h3>

            {{ p.name }}

          </h3>

          <p
            class="unit"
            *ngIf="p.quantity && p.unit">

            {{ p.quantity }} {{ p.unit }}

          </p>

          <p class="delivery">

            🕒 Delivery in 1 hour

          </p>

        </div>

      </div>

      <!-- EMPTY -->

            <div
        *ngIf="
          viewMode === 'products' &&
          !loading &&
          filtered.length === 0
        "
        class="empty">

        ❌ No products found

      </div>

    </div>

  </div>

  <!-- MOBILE ORDER BAR -->

  <div class="mobile-order-bar">

    <button class="chat-btn">
      💬
    </button>

    <button class="order-btn">
      Place Order
    </button>

  </div>

</div>

  