body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f6fa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f6fa;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html,
body{
  width:100%;
  overflow-x:hidden;
}

app-navbar{

  z-index:999999;
}

body{
  padding-top:78px;
}

.layout{
    overflow:visible !important;
}

app-banner,

.products,
.layout,
.page {
  position: relative;
  z-index: 1;
}
