/* =========================
   GLOBAL RESET
========================= */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding-top: 78px;

  font-family: 'Segoe UI', sans-serif;

  background: #f5f6fa;
}


/* =========================
   NAVBAR
========================= */

app-navbar {
  position: relative;
  z-index: 999999;
}


/* =========================
   MAIN LAYOUT
========================= */

.layout {
  overflow: visible !important;
}

app-banner,
.products,
.layout,
.page {
  position: relative;
  z-index: 1;
}


/* =========================
   DRAWER OPEN
========================= */

body.cart-drawer-open {
  overflow-x: hidden;
}


/* =========================
   DRAWER OPEN হলে
   FLOATING CART + CHAT HIDE
========================= */

body.cart-drawer-open .floating-cart,
body.cart-drawer-open .chat-wrapper {
  display: none !important;
}